{% import 'macros/macros.landing.twig' as landing %}
<section class="section greeting" id="section-greeting">
  <div class="container greeting__container greeting__container_small">
    <div class="row greeting__row">
      <div class="col-12 col-sm-5 col-md-6">
        <div class="greeting__thanks">
          <p><strong>В благодарность</strong> за интерес к теме<br> развития своего интернет-проекта</p>
        </div>
        <h2 class="greeting__subtitle greeting__subtitle_offset-small">2-х дневный интенсив</h2>
        <h1 class="greeting__title greeting__title_small greeting__title_uppercase">Пошаговый план: 
          <span class="greeting__title-highlight">Как создать<br>онлайн-школу<br>за 7 дней</span>
        </h1>
        <div class="greeting__form greeting__form_fluid">
          {% include 'components/form-index.twig' %}
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-5">
        <div class="greeting__widget">
          <!-- leeloo init code -->
          <script>
          window.LEELOO = function(){
              window.LEELOO_INIT = { id: '594420d04dcec400191f61d8' };
              var js = document.createElement('script');
              js.src = 'https://app.leeloo.ai/init.js';
              document.getElementsByTagName('head')[0].appendChild(js);
          }; LEELOO();
          </script>
          <!-- end leeloo init code -->
          <div class="wepster-hash-xn09dr"></div>
        </div>
      </div>
    </div>
  </div>
</section>