{% import 'macros/macros.landing.twig' as landing %}
<section class="greeting" id="section-greeting">
  <div class="container greeting__container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="greeting__title">
          <span class="greeting__title-highlight">КАК ЗА НЕДЕЛЮ</span><br>СОЗДАТЬ<br>ОНЛАЙН-ШКОЛУ
        </h1>
        <h2 class="greeting__subtitle">и выстроить систему<br>продаж через автовебинара*</h2>
      </div>
      <div class="col-12 col-md-6"></div>
    </div>
  </div>
</section>