{% import 'macros/macros.landing.twig' as landing %}
<section class="section greeting" id="section-greeting">
  <div class="container greeting__container">
    <div class="row greeting__row">
      <div class="col-12 col-sm-6">
        <h1 class="greeting__title">
          <span class="greeting__title-highlight">КАК ЗА НЕДЕЛЮ</span><br>СОЗДАТЬ<br>ОНЛАЙН-ШКОЛУ
        </h1>
        <h2 class="greeting__subtitle">и выстроить систему<br>продаж через автовебинара*</h2>
        <div class="greeting__form">
          {% include 'components/form.twig' %}
        </div>
        <p class="greeting__info">* 85 % участников, выполнивших все задания, выходят на уровень дохода не менее $5 000</p>
      </div>
      <div class="col-12 col-sm-5">
        <div class="greeting__banner">
          <div class="greeting__banner-body">

            <div class="greeting__banner-info">
              <div class="greeting__banner-bonus"><p>Сразу после <strong>регистрации</strong> вы получите<br> <strong>PDF «Непобедимый интернет- проект. <br>7 простых шагов</strong>», который придет <br>письмом на email.</p></div>
              <p class="greeting__banner-title">Бесплатный двухдневный онлайн-интенсив от основателей LiftMarketing Group</p>
              <p class="greeting__banner-subtitle">Регистрируйтесь на бесплатное участие в онлайн-интенсиве и, пройдя всего 2 вебинара, получите пошаговое руководство по созданию прибыльной онлайн-школы и выводу существующей на высокий уровень дохода.</p>
            </div>
            <p class="greeting__banner-date"><span class="js-day-one"></span> и <span class="js-day-two"></span> <span class="js-month"></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>