=navAddition2()
	.nav
		&__addition
			font-size: 0
			margin-left: auto
			+ta(right)
			+h(100%)

			+max(md)
				+pr(0)
				

			&-button
				+d(inline-flex)
				+ai(center)
				+jc(center)
				+ff('b')
				+c($color-brand-2)
				+bgc(transparent)
				+tr()
				+px(10px)
				border: none
				outline: none
				+fs(12px)
				text-decoration: none
				+tr()
				+max(md)
					+bgc($color-brand-1)
					+c($color-white)
					+h(100%)
					+px(5px)
					+fs(10px)
				+min(md)
					+fs(20px)
		&_scrolled &__addition
			&-button
				+min(md)
					+bgc($color-brand-1)
					+c($color-white)
					+h(45px)
					+fs(14px)