$banner-md-offset: 40px
$banner-default-offset: 25px

.greeting
	+py(35px)
	+bgc($color-brand-1)
	background-image: linear-gradient(0deg, darken($color-brand-1, 10%), $color-brand-1)
	+max(sm)
		overflow: hidden
	+min(md)
		+py(120px, 80px)

	&__container
		+r()
		z-index: 1
		&:before
			+pseudo("", 0, null, null, 0)
			+bgc(#fff)
			transform: skew(-15deg)
			z-index: -1

			+max(sm)
				left: -45%
				top: -80px
				+size(calc(130% + 65px), 360px)
			+min(xs)
				+max(sm)
					+h(315px)
			+min(sm)
				left: -45%
				top: -120px
				+size(800px, 500px)

			+min(md)
				+size(1000px, 400px)

			+min(lg)
				+size(1200px, 500px)

		&_small
			&:before
				+min(sm)
					+h(450px)
				+min(md)
					+h(385px)
				+min(lg)
					+h(450px)

	&__row
		+min(sm)
			+jc(space-between)

	&__title
		+lh(1.1)
		+ff('black')
		+mb(15px)
		+fs(30px)
		+min(xs)
			+fs(45px)

		+min(md)
			+mb(30px)
			+fs(45px)

		+min(lg)
			+fs(64px)

		&_uppercase
				+tt(uppercase)

		&-highlight
			+text-gradient()

		&_small
			+fs(15px)
			+mb(40px)
			+min(sm)
				+mb(45px)
				+fs(20px)
			+min(md)
				+fs(25px)
				+mb(50px)
			+min(lg)
				+fs(30px)
				+mb(75px)
		&_small &-highlight
			+d(block)
			+fs(190%)

	&__subtitle
		+r()
		+lh(1.1)
		+ff('bold')
		+mb(45px)
		+fs(17px)
		+pl(25px)

		&:before
			+pseudo("", 50%, null, null, 0)
			+size(4px, 50px)
			+bgc($color-brand-1)
			transform: translateY(-50%) skew(-15deg)
			+min(md)
				+size(7.5px, 80px)

		+min(xs)
			+pl(30px)
			+fs(24px)

		+min(md)
			+fs(25px)
			+pl(45px)
			+mb(60px)

		+min(lg)
			+fs(30px)
			+mb(100px)

		&_offset-small
			&:before
				+size(2px, 45px)
				+min(md)
					+size(4px, 60px)
			+min(xs)
				+mb(30px)
			+min(md)
				+pl(30px)

	&__form
		+mb(30px)
		+min(xs)
			+max(sm)
				+w(50%)
				+mx(auto)

	&__info
		+c($color-white)
		+fs(13px)
		+max(sm)
			+mb(15px)

	&__bonus
		+r()
		+c($color-white)
		+mb(30px)
		+fs(12px)
		+pl(45px)
		+min(sm)
			+d(none)

		&:before
			+pseudo("", 0, null, null, 0)
			+size(30px, 32px)
			+bgi('../img/pdf-icon-white.png')
			object-fit: contain
			+min(md)
				+size(48px, 51px)

	&__thanks
		+r()
		+pl(30px)
		+lh(1.1)
		+mb(30px)

		&:before
			content: ""
			+a(5px, null, null, 0)
			+size(20px)
			+bgi('../img/greeting-bonus.png')

		+max(md)
			br
				+d(none)

		+min(md)
			+fs(16px)
			margin: -90px 0 60px 130px

	&__widget
		.wepster-portal-form
			+min(lg)
				height: 485px !important

	&__form_fluid
		+min(lg)
			+w(420px)

		.form__control
			+w(100%)
			+ta(center)

	&__banner
		+d(flex)
		+r()
		+ai(flex-end)
		+pb($banner-default-offset)
		+bgi('../img/bg-greeting.jpg')
		+c($color-white)
		box-shadow: -50.883px 31.795px 40px 0px rgba(0, 0, 0, 0.27)
		z-index: 1

		/*&:before
			+pseudo('', -45px, 0)
			z-index: -1
			+bgi('../img/greeting-speakers.png')
			+size(100%, 400px)
			+min(md)
				+h(450px)
			+min(lg)
				+h(600px)*/

		+max(sm)
			margin: 45px auto 0 auto
			max-width: 270px
			min-height: 400px

		+min(md)
			min-height: 500px
			+pb(50px)

		&-bonus
			+mb(30px)
			+fs(12px)
			+r()
			+pl(45px)
			+max(sm)
				+d(none)
			+min(md)
				+fs(14px)
				+pl(60px)
				+mb(60px)
			&:before
				+pseudo("", 0, null, null, 0)
				+size(30px, 32px)
				+bgi('../img/pdf-icon.png')
				object-fit: contain
				+min(md)
					+size(48px, 51px)

		&-info
			padding: $banner-default-offset

			+min(md)
				+px($banner-md-offset)

		&-title
			+lh(1.1)
			+ff('black')
			+mb(15px)
			+fs(18px)
			+min(md)
				+fs(23px)

		&-subtitle
			+fs(14px)
			a
				+c($color-brand-2)
				+tr()

		&-date
			+d(inline-block)
			+bgc($color-brand-1)
			+ff('b')
			+fs(15px)
			padding: 10px 15px 10px $banner-default-offset
			+tt(lowercase)
			+min(xs)
				+fs(20px)
			+min(md)
				+pl($banner-md-offset)
				+fs(24px)