%programm-circle
	+pseudo('', -10%)
	+size(450px)
	border-radius: 100%
	filter: blur(120px)

	+min(md)
		filter: blur(170px)
		+size(600px)

.programm
	+bgc(#0e0e0e)
	+c($color-white)
	overflow: hidden

	&:before
		@extend %programm-circle
		left: -5%
		+bgc($color-brand-2)
		+min(md)
			left: -15%

	&:after
		@extend %programm-circle
		right: -5%
		+bgc($color-brand-1)
		+max(sm)
			top: auto
			bottom: 10%
		+min(md)
			right: -5%

	&__row
		+min(sm)
			+jc(space-between)

	&__header
		+r()
		z-index: 1
		+min(sm)
			+d(flex)

		&-title
			+min(lg)
				+fs(72px)

		&-subtitle
			+min(sm)
				align-self: flex-end
				+ml(50px)

			+min(md)
				+ml(150px)

	&-item
		+max(sm)
			+offset('b', 60px)
		&_1
			+r()
			z-index: 2
		@at-root
			%info-text-large
				+lh(1.1)
				+min(md)
					+fs(18px)
				+min(lg)
					+fs(22px)

			%info-text-default
				+lh(1.1)
				+ff('b')
				+max(sm)
					+fs(14px)

		&__inner
			+r()
			z-index: 1

		&__image
			+a(0)
			+max(sm)
				z-index: 1
			+min(sm)
				z-index: 2
				max-width: none
			&_1
				+max(sm)
					left: 30%
				+min(sm)
					+w(450px)
					top: -6%
					left: 15%
				+min(md)
					+w(650px)
					top: -2%
					left: 10%

				+min(lg)
					+w(740px)
					top: -5%
					left: 17%

			&_2
				z-index: -1
				+max(sm)
					left: -160px
					max-width: 300px
				+min(sm)
					+w(265px)
					top: 2%
					right: 85%
				+min(md)
					+w(375px)
					top: 7%
					right: 68%

				+min(lg)
					+w(450px)
					top: 5%
					right: 67%

		&__date
			+c(#100e0e)
			+ff('black')
			opacity: 0.3
			+fs(45px)
			+tt(uppercase)
			+max(sm)
				+ta(right)
				+mb(-20px)
			+min(md)
				+fs(75px)
			+min(lg)
				+fs(90px)
		&__info
			+mb(15px)
			+r()
			+min(sm)
				+d(flex)
				+jc(flex-end)
				+mb(30px)
			+min(lg)
				+mb(45px)

			&-cube
				padding: 10px 10px 20px 10px
				border: 5px solid $color-white
				+min(md)
					padding: 20px 20px 40px 20px
					border-width: 10px
					width: 85%

			&-date
				$date-offset: 15px

				@extend %info-text-large
				+d(inline-block)
				+ff('b')
				padding: $date-offset/3 $date-offset
				+mb($date-offset)
				+ml(-#{$date-offset})
				+tt(lowercase)

				+min(md)
					+px($date-offset * 2)
					+mb($date-offset * 2)
					+ml(-#{$date-offset * 2})

				&_1
					+bgc($color-brand-1)

				&_2
					+bgc($color-brand-2)

			&-title
				@extend %info-text-large
				+ff('black')
				+mb(10px)
				+max(sm)
					max-width: 170px

			&-subtitle
				@extend %info-text-default
				&_1
					+c($color-brand-1)

				&_2
					+c($color-brand-2)

			&-name
				+r()
				z-index: 1
				@extend %info-text-default
				+tt(uppercase)

		&_2 &__info
			+max(sm)
				&-cube
					+ta(right)
				&-title
					+ml(auto)

		&__content
			&-title
				@extend %info-text-large
				+tt(uppercase)
				+ff('black')
				+mb(15px)

				&_1
					+c($color-brand-1)

				&_2
					+c($color-brand-2)

		&__list
			+fs(14px)
			li
				+offset('b', 10px)
				+pl(20px)
				&:before
					+pseudo('', 5px, null, null, 0)
					+size(10px)
					border-radius: 100%
				&:after
					+pseudo("\2713", 0, null, null, 3px)
					+ff('black')
					+fs(20px)
					+lh(1)
			&_1 li
				&:before
					+bgc($color-brand-1)
			&_2 li
				&:before
					+bgc($color-brand-2)