<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/assets/build/img/favicon.png" type="image/png">
  {% block meta %}{% endblock %}
  {% block css %}{% endblock %}
  {% block js %}{% endblock %}
</head>
<body>
  {% block nav %}{% include 'blocks/nav.twig' %}{% endblock %}
  <main class="site">{% block content %}Sorry, no content{% endblock %}</main>
  {% block footer %}{% include 'blocks/footer.twig' %}{% endblock %}
</body>
</html>